@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

/* ------------------------- Variables ------------------------- */
:root {
  --font-family: 'Montserrat', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #bae2cd;
  --primary-color: #353744;
  --secondary-color: #00ab44;
  --primary-shadow: #666666;
  --secondary-shadow: #53bb84;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* ------------------------- CSS Resets ------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  /* background-color: #53bb84; */
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 80vh;
}

/* ------------------------- Navbar ------------------------- */
.nav {
  overflow: hidden;
  position: fixed;
  background-color: var(--bg-color);
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.nav-container {
  float: right;
}

.nav-container2 {
  float: left;
  display: flex;
  align-items: center;
  left: 10px;
}

.nav img {
  height: 3rem;
  width: 3rem;
  padding: 3px;
}

.nav h2 {
  color: var(--primary-color);
  padding-left: 10px;
}

.nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 1.25rem 1.25rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}

.nav a:hover {
  color: var(--secondary-color);
  background-color: #d3fce6;
  border-bottom: 3px solid var(--secondary-color);
}

.nav .navicon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav h2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav a {
    display: none;
  }

  .nav a.navicon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
  }

  .nav.responsive .navicon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive .nav-container {
    float: left;
    width: 100%;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav.responsive img {
    display: none;
  }
}


/* ------------------------- About section ------------------------- */
.intro {
  background-color: var(--bg-color);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.about img {
  height: 15rem;
  width: 15rem;
}

.img-about-card {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.bio {
  width: 30rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: #fff;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

@media screen and (max-width: 800px) {
  .about {
    display: grid;
    align-items: center;
  }
}

/* ------------------------- Skills section ------------------------- */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 10rem;
  height: 10rem;
}

.icon-card {
  position: relative;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  border-radius: 11px;
  transition: .2s ease;
  background-color: var(--bg-color);
  ;
}

.icon-card:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--secondary-color);
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

@media screen and (max-width: 1000px) {
  .icon-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .icon-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------------- Projects section ------------------------- */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 50%;
  height: 50%;
}

.projects-container {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-logo {
  width: 15%;
  height: 15%;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
  .project-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .project-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------- Contacts section ------------------------- */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* ------------------------- Social buttons ------------------------- */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 3.2rem;
  height: 3rem;
}

/* ------------------------- General (utilities) ------------------------- */
/* Hidden Animation Section */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}